$box-shadow = 0px 0px 24px rgba(145, 147, 148, 0.2);

box() {
    // Box Styling
    padding: 0.5em;
    background-color: #fff;
    box-shadow: $box-shadow;
    outline: none;

    // Border
    border-radius: 5px;
    border: 1px solid $beige-30;
}