.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;

  svg, .svg-inline--fa {
    width: 70%;
    height: 70%;
  }

  &.is-boxed {
    width: 1.75em;
    height: 1.75em;

    border-radius: 5px;
  }
}