@import './helper/_font-face.styl'

$font-main = 'Avenir', Helvetica, Arial, sans-serif;
$font-alt = Noe-Display-Regular, 'Avenir', Helvetica, Arial, sans-serif;

$font-title = $font-alt;
$font-copy = $font-main;
$font-link = $font-main;