// screen
$screen-xsmall = 340px;
$screen-small = 480px;
$screen-smaller = 768px;
$screen-medium = 1024px;
$screen-large = 1440px;
$screen-widescreen = 1920px;

$xsmall = '(max-width: ' + ($screen-small - 1) + ')'
$small = '(min-width: ' + $screen-small + ') and (max-width: ' + ($screen-smaller - 1) + ')'
$small-down = '(max-width: ' + ($screen-smaller - 1) + ')'
$small-up = '(min-width: ' + $screen-small + ')'
$smaller = '(min-width: ' + $screen-smaller + ') and (max-width: ' + ($screen-medium - 1) + ')'
$smaller-down = '(max-width: ' + ($screen-medium - 1) + ')'
$smaller-up = '(min-width: ' + $screen-smaller + ')'
$medium = '(min-width: ' + $screen-medium + ') and (max-width: ' + ($screen-large - 1) + ')'
$medium-down = '(max-width: ' + ($screen-large - 1) + ')'
$medium-up = '(min-width: ' + $screen-medium + ')'
$large = '(min-width: ' + $screen-large + ') and (max-width: ' + ($screen-widescreen - 1) + ')'
$large-down = '(max-width: ' + ($screen-widescreen - 1) + ')'
$large-up = '(min-width: ' + $screen-large + ')'
$widescreen = '(min-width: ' + $screen-widescreen + ')'

